* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/Norse-Bold.otf");
}

body {
    height: 100vh;
}

.background-image {
    width: 37%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: bottom/cover url("./images/background.jpg");
}

.odin-logo-container {
    height: 13%;
    padding: 0.5em;
    background-color: rgb(0, 0, 0, 0.35);
    position: relative;
    top: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odin-logo {
    height: 100%;
}

.logotype {
    color: white;
    font-family: "Norse Bold", sans-serif;
    font-size: 9.5vh;
}

.background-image-credits * {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: clamp(0.86rem, 0.7vw, 2rem);
    margin-bottom: 1em;
}
